.bg-video{
	min-width: 100%; min-height: 100%;
	width: auto; height: auto;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	z-index: @zIndex-1;
	.transition;
}

.bg-video-home{
	background: url('images/intro.png') no-repeat;
	background-size: cover;
}